<div class="flip3D">
  <div class="back">Card 1 Back</div>
  <div class="front">
    <div class="card text-center float-card" style=" height: 20em">
      <div class="card-header">
        <ul class="nav navbar-light nav-tabs card-header-tabs" style="background-color: #e3f2fd;">
          <li class="nav-item">
            <a class="nav-link active" href="#">Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Running Jobs</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <br/>
        <h4 class="card-title">InDesign</h4>
        <a class="wrap-line" href="#">URL</a>
      </div>
    </div>
  </div>
</div>