.flip3D > .front{
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    backface-visibility: hidden;
    -webkit-transition: transform .5s linear 0s;
    -moz-transition: transform .5s linear 0s;
    transition: transform .5s linear 0s;
}

.flip3D > .back{
    position: absolute;
    -webkit-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
    -webkit-transition: transform .5s linear 0s;
    -moz-transition: transform .5s linear 0s;
}

.flip3D:hover > .front{
    -webkit-transform: perspective(600px) rotateY(-180deg);
    transform: perspective(600px) rotateY(-180deg);
}

.flip3D:hover > .back{
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
}